<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="Prezziario" class="org.example.Prezziario">
        <property name="prezziario">
            <map>
                <entry key="Margherita" value="4" />
                <entry key="Marinara" value="3.50" />
                <entry key="Quattro_Stagioni" value="5"/>
            </map>
        </property>
    </bean>


    <bean id="Scontrino" class="org.example.Scontrino">
        <property name="consegna" value="2.0"></property>
    </bean>
    
    
</beans>


